*,html,body{
margin:0;
padding:0;
}


h1, p {margin:0;}


#un{
background-color:antiquewhite;
border: solid red 5px;
font-family: fantasy;
padding:15px;

}
img{
 
    margin-top: 250px;
    margin:0 auto;
    display: block;
    border: red 20px dotted;
    width: 30%;
   
    
}